@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;

  --color-primary: #6e40d7;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;
}

html,
body {
  @apply bg-white text-gray-600;
  font-size: 14px; /* Set reference for rem units, adjusted to Figma designs */

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}

html {
  overflow-y: scroll;
}

h1 {
  @apply text-3xl text-gray-900 font-semibold leading-11;
}
