@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;

  --color-purple: #6E40D7; 
}

html,
body {
  @apply bg-white text-gray-600;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}
